@font-face {
    font-family: 'comic';
	font-weight: 100;
    font-style: normal;
    src: url('https://cdn.rawgit.com/JustATechie/FontDatabase/main/Comic/eot/Comic-Regular.eot');
	src: url('https://cdn.rawgit.com/JustATechie/FontDatabase/main/Comic/eot/Comic-Regular.eot'?#iefox) format('embedded-opentype'),
	     url('https://cdn.rawgit.com/JustATechie/FontDatabase/main/Comic/woff2/Comic-Regular.woff2') format('woff2'),
         url('https://cdn.rawgit.com/JustATechie/FontDatabase/main/Comic/woff/Comic-Regular.woff') format('woff'),
         url('https://cdn.rawgit.com/JustATechie/FontDatabase/main/Comic/ttf/Comic-Regular.ttf') format('truetype'),
		 url('https://cdn.rawgit.com/JustATechie/FontDatabase/main/Comic/otf/Comic-Regular.otf') format('opentype');
}
