@font-face {
    font-family: 'Comic Programming - Italic';
    font-style: italic;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff2/Non-Ligatures/Comic-Italic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff/Non-Ligatures/Comic-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Comic Programming - Bold';
    font-style: bold;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff2/Non-Ligatures/Comic-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff/Non-Ligatures/Comic-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Comic Programming - Regular';
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff2/Non-Ligatures/Comic-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff/Non-Ligatures/Comic-Regular.woff') format('woff');
}