@font-face {
    font-family: 'Comic Programming - Regular';
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/eot/Non-Ligatures/Comic-Regular.eot'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/eot/Non-Ligatures/Comic-Regular.eot'?#iefox) format('embedded-opentype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff2/Non-Ligatures/Comic-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff/Non-Ligatures/Comic-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/ttf/Non-Ligatures/Comic-Regular.ttf') format('truetype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/otf/Non-Ligatures/Comic-Regular.otf') format('opentype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/svg/Non-Ligatures/Comic-Regular.svg') format('svg');
}

@font-face {
    font-family: 'Comic Programming - Italic';
    font-style: italic;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/eot/Non-Ligatures/Comic-Italic.eot')
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/eot/Non-Ligatures/Comic-Italic.eot'?#iefox) format('embedded-opentype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff2/Non-Ligatures/Comic-Italic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff/Non-Ligatures/Comic-Italic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/ttf/Non-Ligatures/Comic-Italic.ttf') format('truetype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/otf/Non-Ligatures/Comic-Italic.otf') format('opentype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/svg/Non-Ligatures/Comic-Italic.svg') format('svg');
}

@font-face {
    font-family: 'Comic Programming - Bold';
    font-style: bold;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/eot/Non-Ligatures/Comic-Bold.eot')
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/eot/Non-Ligatures/Comic-Bold.eot'?#iefox) format('embedded-opentype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff2/Non-Ligatures/Comic-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/woff/Non-Ligatures/Comic-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/ttf/Non-Ligatures/Comic-Bold.ttf') format('truetype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/otf/Non-Ligatures/Comic-Bold.otf') format('opentype'),
	 url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/comic/svg/Non-Ligatures/Comic-Bold.svg') format('svg');
}
