/* work in progress */
@import url('https://cdn.jsdelivr.net/gh/dracula/logseq@master/custom.css');

@font-face {
    font-family: 'Comic Programming - Regular';
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/fonts/comic/woff2/non-ligatures/Comic-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Comic Programming - Italic';
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/fonts/comic/woff2/non-ligatures/Comic-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Comic Programming - Bold';
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/fonts/comic/woff2/non-ligatures/Comic-Bold.woff2') format('woff2');
}

:root {
  --ls-font-family: "Comic Programming - Regular";
}
