/* More fonts to be added. */

@font-face {
    font-family: 'Comic Programming - Regular';
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/fonts/comic/woff2/non-ligatures/Comic-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Comic Programming - Italic';
    font-style: italic;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/fonts/comic/woff2/non-ligatures/Comic-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Comic Programming - Bold';
    font-style: bold;
    src: url('https://cdn.jsdelivr.net/gh/JustATechie/FontDatabase@main/fonts/comic/woff2/non-ligatures/Comic-Bold.woff2') format('woff2');
}
